body {
        color: white;
    background-color: cadetblue;
}

header {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    background-color: cadetblue;
    padding: 10px;
    margin: 10px;
}

.hItem {
    padding: 10px;
    margin: 10px;
}

.green {
    color: green;
}

.delete-btn {
    color: white;
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
}

.delete-btn:active {
    color: red;
    background-color: white;
}

.delete-form {
    display: inline;
}

li {
    margin-bottom: 10px;
}

.ex {
    background-color: #333333;
    border: white 2px solid;
}

.p2, .p3, .p4 {
    width: 20px;
}

.p1, .p3, .p4 {
    height: 20px;
}

.container {
    display: flex;
}

.sub-container-2 {
    display: flex;
}