body {
        color: white;
    background-color: cadetblue;
}

header {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    background-color: cadetblue;
    padding: 10px;
    margin: 10px;
}

.hItem {
    padding: 10px;
    margin: 10px;
}

.green {
    color: green;
}

.delete-btn {
    color: white;
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
}

.delete-btn:active {
    color: red;
    background-color: white;
}

.delete-form {
    display: inline;
}

li {
    margin-bottom: 10px;
}